<select
  class="hidden"
  id="round-tracker-select-status-{{_ID}}"
  name="status_effects"
  multiple
>
  {{! <option value="stunned">Stunned</option>
      <option value="prone">Prone</option>
      <option value="blinded">Blinded</option> }}

  {{#each refData.effects}}
    <option value="{{this.name}}">{{this.name}}</option>
  {{/each}}
</select>

<div
  id="round-tracker-add-status-list-{{_ID}}"
  class="hidden flex-row flex-wrap gap-2 rounded-lg p-2 border border-gray-700 w-full"
>

</div>

{{#each refData.effects}}
  <div class="flex flex-col items-center justify-center align-middle w-8 h-12">
    <div
      id="round-tracker-add-status-{{_ID}}"
      class="flex items-center justify-center cursor-pointer w-8 h-8 rounded-md bg-gray-700 text-sm text-white peer opacity-40 hover:opacity-100"
    >

      <img src="{{this.icon}}" class="w-4 h-4 border-0 bg-gray-700" />

    </div>

    <div
      class="invisible peer-hover:visible text-xs overflow-clip overflow-ellipsis text-center"
    >
      {{this.id}}
    </div>
  </div>
{{/each}}